
  .rounded {
    width: 100%;
    height: 100px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 10px;  
}

/*.container {
    width: 300px; 
    margin-left:auto; 
    margin-right: auto; 
}
*/

.center{
  text-align: center;
}


ion-content{

  --ion-background-color:#e9e9e9;
}

//Colores
.ion-color-verde {
  --ion-color-base: #57b6b2  !important;
  
}

.ion-color-gris {
 --ion-color-base: #7c7c7c  !important;
     
}

.ion-color-phantone {
  --ion-color-base: #3f458b  !important;    
}

.my-labelsize {
  font-size: 2em;
  //color: #3f458b;
}

.my-labelsize_a {
  font-size: 1.5em;
  //color: #3f458b;
}  

.negrita{
  font-weight: bold;
}