<ion-header>        
    <ion-toolbar>
      <ion-buttons slot="start">      
        <ion-button (click)="back()">        
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title text-center color = "verde" class="my-labelsize negrita" style="text-transform: none;">Technical Faq</ion-title>
    </ion-toolbar>
  </ion-header>
  
  
  <ion-content>
       <div text-center>
          <img width="150" height="150" src="assets/imgs/login_img.png">   
          <br>                 
          
      </div> 
    
      <ion-card padding>
  
          <h3>Technical Faq</h3>
          
          
          <p>
              <b>What is the cost of renting a battery?</b>
              <br>
              Renting duration will be effective exactly 3 minutes after a power bank has been rented. First time users will enjoy a 30 minutes free rental time. A rental period that is less than 60 minutes will be rounded up as an hour. The time and day the power bank is returned to the station will mark the conclusion of the rental period. The rental fee is $0.99 per hour up to a maximum of $4.99 per day. You can rent the battery for a maximum period of 2 days. After 2 days your maximum continuous rental period will expire, and your portable power bank will be considered purchased. 
              <br><br>
              <b>What happens if I do not return the battery?</b>
              <br>
              After the period of 2 days, failure to return the rented battery will cause battery to be regarded as purchased. If this happens, a sale's fee of twenty-five dollars USD ($25.00) plus tax will be charged to your credit card. The battery can be charged with a standard Micro USB cable plugged into a wall outlet orcomputer.   
              <br><br>
              <b>HOW CAN I RENT A POWER BANK IF MY PHONE IS COMPLETELY OUT OF CHARGE AND TURNED OFF?</b>
              <br>
              For such cases, you can use the courtesy charging cables attached on the back of any power station to charge your phone long enough to get power and be able to turn your phone on and run the app. Make a note that this is a courtesy to you and other users, so please be as brief as possible so others as you can also be able to use the station. BATT2GOwill not be liable for any damages or losses of any equipment left unattended while using our courtesy charging cable.
              <br><br>
              <b>Where can I return the battery after I am done using it?</b>
              <br>
              You can return your battery at any BATT2GO Station that has an empty slot. BATT2GO stations locations are available on the app.
              <br><br>
              <b>What happens if I lose a battery?</b>
              <br>
              If you lose a battery, please report the issue to us immediately to avoid any additional fees. Wewill charge youtwenty-five dollars USD ($25.00) plus tax for every expired/lost power bank.
              WHAT HAPPENS IF THE BATTERY IS RETURNED AFTER REPORTED STOLEN OR LOST TO ANY POWER CHARGING STATION?
              The system detect that the battery is a stolen or lost and will reject the battery.
              <br><br>
              <b>When will my credit card be charged?</b>
              <br>
              You will be charged a minimum fee offive dollars USD($5.00) and the portion that remains after you return your battery will remain in your virtual “wallet” kept inside the APP.You can choose to load or reload a different amount greater than five dollars USD($5.00)in order to have sufficient funds for a longer rentalperiod or later day. No refunds are authorized according to the terms and conditions of BATT2GO
              What type of information will be collected while using a BATT2GO power bank?
              Our batteries use secure current and only allow electricity flow rather than data transmission. Thus, our devices cannot collect any information or data from your device. We guarantee 100% safety.
              What happens if the battery or cable does not work? 
              When the cable or the device is not properly functioning, please return it immediately. You will not be charged if reported and returned within 3 minutes. After 5 minutes, please contact us at support@batt2go.com
              What phones, tablets, laptops or accessories models work with BATT2GO?
              Any Phone, Tablet or rechargeable accessory that uses a Micro-USB, iPhone Lighting cable or newer generation of USB C connector can be charged with any of our power banks. 
              May I rent more than one battery?
              An account can only rent one battery at the time 
              <br><br>
              <b>HOW DO I CONFIRM THAT THE BATTERY HAS BEEN RETURNED?</b>
              <br>
              You can confirm on the App’s History menu, where you can see all the rentals, purchases, and return charges made
              <br><br>
              <b>Is my data safe while I am using aBATT2GOpower bank?</b>
              <br>
              Yes, our batteries are sealed power banks thatcannot be opened or tampered without breaking the outer case.Inside each battery, you will only find a the specialdeep cycle Lithium-Ion Battery cells, used for the sole purpose of recharging electronic devices.
              <br><br>
              <b>Are theBATT2GO power banks safe to travel or use on planes?</b>
              <br>
              YES, all our batteries comply with all FCC and FAA regulations and are safe to use and bring on board as a personal item and can be used unless otherwise instructed by the FlightAttendants of that flight.
          </p>
  
      </ion-card>
  
      
      
  </ion-content>
  