//Colores
ion-content{

    --ion-background-color:#e9e9e9;
}

.ion-color-verde {
    --ion-color-base: #57b6b2  !important;
    
}

.my-labelsize {
    font-size: 2em;
    //color: #3f458b;
  }
  
  .my-labelsize_a {
    font-size: 1.5em;
    //color: #3f458b;
  }  
  
  .negrita{
    font-weight: bold;
  }