ion-content{

    --ion-background-color:#e9e9e9;
}

//Colores

.ion-color-verde {
    --ion-color-base: #57b6b2  !important;
    
}

.ion-color-gris {
    --ion-color-base: #7c7c7c  !important;
    
}

.ion-color-phantone {
    --ion-color-base: #3f458b  !important;    
}


.my-labelsize {
    font-size: 2em;    
  }

  .ionlabelsize_a {
    font-size: 1em;    
  }

  .negrita{
    font-weight: bold;
  }