<ion-header>        
  <ion-toolbar>
    <ion-buttons slot="start">      
      <ion-button (click)="back()">        
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title text-center class="my-labelsize negrita" color = "verde" style="text-transform: none;">How to use</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
 <ion-card padding>
    <div text-center>
      <!--img src="assets/imgs/howtouse1.png"-->   
      <img src="assets/imgs/howtouse1.jpg">   
      <br>                       
    </div>
 </ion-card>

 <ion-card padding>
  <div text-center>
    <!--img src="assets/imgs/howtouse2.png"-->   
    <img src="assets/imgs/howtouse2.jpg">   
    <br>                       
  </div>
 </ion-card>

 <ion-card padding>
  <div text-center>
    <!--img src="assets/imgs/howtouse3.png"-->   
    <img src="assets/imgs/howtouse3.jpg">   
    <br>                       
  </div>
 </ion-card>

 <ion-card padding>
  <div text-center>
    <!--img src="assets/imgs/howtouse4.png"-->   
    <img src="assets/imgs/howtouse4.jpg">   
    <br>                       
  </div>
 </ion-card>

 
 
</ion-content>
