  //Colores
  ion-content{

    --ion-background-color:#e9e9e9;
  }

  .ion-color-gris {
    --ion-color-base: #7c7c7c  !important;
    
}

.ion-color-phantone {
  --ion-color-base: #3f458b  !important;    
}

.ion-color-phantone2 {
  --ion-color-base: #57b6b2  !important;    
}
.ion-color-verde {
  --ion-color-base: #57b6b2  !important;
  
}

.ion-color-azulbtt {
  --ion-color-base: #006ec7  !important;  
}

.ion-color-blancobtt {
  --ion-color-base: #FFFFFF  !important;  
}

.my-labelsize {
  font-size: 2em;
  //color: #3f458b;
}
 
.my-labelsize2 {
  font-size: 1.2em;
  //color: #3f458b;
}